/.vs
/FirstWebApplication/bin
/FirstWebApplication/obj
/Services/bin
/Services/obj
/ServiceContracts/bin
/ServiceContracts/obj
/Common/bin
/Common/obj
/Entities/bin
/Entities/obj
/Tests/bin
/Tests/obj
/Exceptions/bin
/Exceptions/obj
/FirstWebApplication.UI/bin
/FirstWebApplication.UI/obj
/FirstWebApplication.ControllerTests/bin
/FirstWebApplication.ControllerTests/obj
/FirstWebApplication.Core/bin
/FirstWebApplication.Core/obj
/FirstWebApplication.Infrustructure/bin
/FirstWebApplication.Infrustructure/obj
/FirstWebApplication.ServiceTests/bin
/FirstWebApplication.ServiceTests/obj
/FirstWebApplication.IntegrationTests/bin
/FirstWebApplication.IntegrationTests/obj

