@using ServiceContracts.DTO

@model List<CountryResonse>

<ul>
    @foreach (CountryResonse countryResonse in Model)
    {
        <li>countryResonse.CountryName</li>
    }

    <div style="width: 100px; height: 2px; background-color: black;"></div>

    <div>
        <form asp-controller="Country" asp-action="Countries" method="post">

            <div style="display: flex; align-vitems: center; gap: 10px;">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" />
                @* alternative way if model is present *@
                @* <input asp-for="Name" /> *@
            </div>
            <button>Submit</button>

            @* if(ViewBag?.Errors != null) {
            <ul>
                @foreach (string error in ViewBag.Errors)
                {
                    <li>@error</li>
                }
            </ul>
            } *@
        </form>
    </div>
</ul>