@* partial view that may be used in any controller view or layout *@

@using FirstWebApplication.Models
@model Cities

<div>
    <h3>@Model.Title</h3>
    <ul>
        <li>London</li>
        <li>New York</li>
        <li>Tokyo</li>
    </ul>
</div>