@* partial view that may be used in any controller view or layout *@

<div>
    <h3>@ViewData["listTitle"]</h3>
    <ul>
        <li>London</li>
        <li>New York</li>
        <li>Tokyo</li>
    </ul>
</div>